@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Alagard;
    src: url('alagard.ttf');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #353535;
    overflow: hidden;
}

@layer base {
    html {
        font-family: 'Alagard';
    }
}

@layer components {
    .fixed-center {
        @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
    }

    .text-stroke-3, .text-stroke-5 {
        position: relative;
        background: transparent;
        z-index: 0;
    }
        
    .text-stroke-3:before, .text-stroke-5:before {
        content: attr(data-text);
        position: absolute;
        z-index: -1;
    }

    .text-stroke-3:before { -webkit-text-stroke: 3px #353535; }
    .text-stroke-5:before { -webkit-text-stroke: 8px #353535; }
}